body {
  margin: 0;
  padding: 0;
}

.todoPageContainer, .donePageContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0rem;
}

.todoItemContainer {
  display: flex;
  width: 60vw;
  max-width: 60vw;
  background-color: white;
  padding: 1rem;
  border-bottom: 2px solid lightblue;
  height: 5rem;
  max-height: 5rem;
}

.todoText {
  max-width: 100%;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  overflow: hidden;
}

.statusCircleButton { 
  width: 3rem;
  min-width: 3rem;
  height: auto; 
  border: none; 
  background-Color:transparent;
  cursor: pointer;
}

.statusCircle {
  width: 100%;
  height: auto;
  color: cornflowerblue;
}

.addTodoItem {
  display: flex;
  flex-direction: column;
  margin: 2.5rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: lightblue;
  align-items: center;
}

.pageHeader {
  width: 100vw;
  height: 10vh;
  background-color: lightblue;
  align-items: center;
  font-size: 3rem;
  color: white;
}

.headerButtons button{
  background-color: transparent;
  color: white;
  border: 0px;
  font-size: 2rem;
}

.headerButtons button:hover{
  color: cornflowerblue;
  cursor: pointer;
}

.titleContainer
{
  text-align: center;
}

.signOutButtonContainer {
  height: 100%;
  text-align: end;
}

.signOutButton {
  height: 100%;
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin-right: 1.5rem;
}

.signOutIcon {
  height: 60%;
  width: auto;
  color: white;
}

.textBox {
  width: 30vw;
  min-width: 30vw;
  height: 10vh;
  min-height: 10vh;
  border-radius: 1rem;
  padding:1rem;
  font-size: 1rem;
}

.addItemButton {
  margin-top: .5rem;
  width: 50%;
  background-color: aliceblue;
  border: none;
  height: 2rem;
  border-radius: .5rem;
  font-size: 1rem;
}

.addItemButton:hover{
  cursor: pointer;
  background-color: cornflowerblue;
}

.todoItemPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.nonEditText {
  width: 50%;
  min-height: 50%;
  background-color: aliceblue;
  border: .4rem solid cornflowerblue;
  border-radius: .5rem;
  padding-left: 1rem;
  font-size: 1.2rem;
}

.nonEditCategory
{
  display: flex;
  width: 50%;
  margin-top: 3rem;
  justify-content: flex-end;
}

.nonEditCategoryContent {
  background-color: cornflowerblue;
  padding-top: .8rem;
  padding-bottom: .8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: white;
  margin-right: 2rem;
  font-size: 2rem;
}

.editCategory
{
  display: flex;
  width: 50%;
  margin-top: 3rem;
  justify-content: flex-end;
}

.test {
  background-color: red;
  padding-top: .55rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: white;
  margin-right: 2rem;
  font-size: 1.2rem;
}

.editCategoryContent {
  width: 200%;
}

.editText {
  width: 50%;
  min-height: 50%;
  background-color: aliceblue;
  border: .4rem solid red;
  border-radius: .5rem;
  padding-left: .8rem;
}

.todoItemTextInput {
  width: 99%;
  height: 94%;
  resize: none;
  background-color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.35rem;
  padding-top: 1.2rem;
  border: 0px;
  outline: none;
}

.todoItemButtonsContainer {
  display: flex;
  width: 50vw;
}

.todoItemButton {
  display: flex;
  margin-top: 1rem; 
  width: 5rem;
  min-width: 5rem;
  height: auto; 
  border: none; 
  cursor: pointer;
  background-color: aliceblue;
  padding: 1rem;
  border-radius: .5rem;
  margin-left: 2rem;
}

.todoItemButton:hover {
  background-color: cornflowerblue;
}

.buttonIcon {
  width: 100%;
  height: auto;
}

.editConfirmation {
  width: 40vw;
  background-color: lightgreen;
  padding: .2rem;
  border-radius: 3rem;
  text-align: center;
  margin-top: 1rem;
}

.editConfirmation p {
  font-size: 2rem;
}

.page404 {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.page404Content {
  font-size: 3rem;
}

.custom-restricted {
  height: 160px;
  width: 30vw;
}

.categoryContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.dropdown {
  border: .3rem solid black;
  border-radius: .4rem;
}

.categoryContainerLast {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: cornflowerblue;
  text-align: end;
}

.categoryContainerLast span {
  color: white;
}

.addNewCategoryContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.categoryTextInput {
  display: flex;
}

.deleteCatButton {
  height: 100%;
  width: 10%;
  background-color: transparent;
  border: none;
  margin-left: auto;
}

.categoryIcon {
  height: 100%;
  width: auto;
}

.categoryIcon:hover {
  color: red;
  cursor: pointer;
}

.categoryDropDown {
  font-size: 2rem;
}

.categoryText {
  font-size: 1.5rem;
}

.testing {
  background-color: white
}

.catToggleButton {
  background-color: transparent;
  border: none;
  color: white;
}

.catToggleButton:hover {
  cursor: pointer;
}

.categoryHeader {
  width: 80vw;
  /* display: flex; */
  /* justify-content: flex-start; */
}

.categoryHeader span{
  background-color: cornflowerblue;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
}

.noCategoryItems {
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.noCategoryItems span {
  font-size: 3rem;
}

.titlePage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titlePageContent {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  background-color: cornflowerblue;
  padding: 2rem;
  border-radius: 2rem;
}

.titlePage h1 {
  font-size: 4rem;
  color: white;
}

.titlePage button {
  padding: 1rem;
  background-color: white;
  font-size: 2rem;
  border: 0px;
  border-radius: 1rem;
}

.titlePage button:hover {
    background-color: lightblue;
    cursor: pointer;
}

