body {
  margin: 0;
  padding: 0;
}

.todoPageContainer, .donePageContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0rem;
}

.todoItemContainer {
  display: flex;
  width: 60vw;
  max-width: 60vw;
  background-color: white;
  padding: 1rem;
  border-bottom: 2px solid lightblue;
  height: 5rem;
  max-height: 5rem;
}

.todoText {
  max-width: 100%;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  overflow: hidden;
}

.statusCircleButton { 
  width: 3rem;
  min-width: 3rem;
  height: auto; 
  border: none; 
  background-Color:transparent;
  cursor: pointer;
}

.statusCircle {
  width: 100%;
  height: auto;
  color: cornflowerblue;
}

.addTodoItem {
  display: flex;
  flex-direction: column;
  margin: 2.5rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: lightblue;
  align-items: center;
}

.pageHeader {
  display: flex;
  width: 100vw;
  height: 10vh;
  background-color: lightblue;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
}

.pageHeader .userIcon {
  float: right;
}

.textBox {
  width: 30vw;
  min-width: 30vw;
  height: 10vh;
  min-height: 10vh;
  border-radius: 1rem;
  padding:1rem;
  font-size: 1rem;
}

.addItemButton {
  margin-top: .5rem;
  width: 50%;
  background-color: aliceblue;
  border: none;
  height: 2rem;
  border-radius: .5rem;
  font-size: 1rem;
}

.addItemButton:hover{
  cursor: pointer;
  background-color: cornflowerblue;
}

.todoItemPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.nonEditText {
  margin-top: 3rem;
  width: 50%;
  min-height: 50%;
  background-color: aliceblue;
  border: .4rem solid cornflowerblue;
  border-radius: .5rem;
  padding-left: 1rem;
  font-size: 1.2rem;
}

.editText {
  margin-top: 3rem;
  width: 50%;
  min-height: 50%;
  background-color: aliceblue;
  border: .4rem solid red;
  border-radius: .5rem;
  padding-left: .8rem;
}

.todoItemTextInput {
  width: 99%;
  height: 94%;
  resize: none;
  background-color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  padding-top: 1.2rem;
  border: 0px;
  outline: none;
}

.todoItemButtonsContainer {
  display: flex;
  width: 50vw;
}

.todoItemButton {
  display: flex;
  margin-top: 1rem; 
  width: 5rem;
  min-width: 5rem;
  height: auto; 
  border: none; 
  cursor: pointer;
  background-color: aliceblue;
  padding: 1rem;
  border-radius: .5rem;
  margin-left: 2rem;
}

.todoItemButton:hover {
  background-color: cornflowerblue;
}

.buttonIcon {
  width: 100%;
  height: auto;
}

.editConfirmation {
  width: 40vw;
  background-color: lightgreen;
  padding: .2rem;
  border-radius: 3rem;
  text-align: center;
  margin-top: 1rem;
}

.editConfirmation p {
  font-size: 2rem;
}

.page404 {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.page404Content {
  font-size: 3rem;
}


