body {
  margin: 0;
  padding: 0;
}

.todoPageContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0rem;
}

.todoItemContainer {
  display: flex;
  width: 60vw;
  background-color: white;
  padding: 1rem;
  border-bottom: 2px solid lightblue;
}

.statusCircleButton { 
  width: 5%;
  height: auto; 
  border: none; 
  background-Color:transparent;
  cursor: pointer;
}

.statusCircle {
  width: 100%;
  height: auto;
  color: cornflowerblue;
}

.addTodoItem {
  display: flex;
  flex-direction: column;
  margin: 2.5rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: lightblue;
  align-items: center;
}

.todoHeader {
  width: 100%;
  height: 10vh;
  background-color: lightblue;
  text-align: center;
  font-size: 3rem;
  color: white;
}

.todoText {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.textBox {
  width: 30vw;
  height: 10vh;
  border-radius: 1rem;
  padding:1rem;
  font-size: 1rem;
}

.addItemButton {
  margin-top: .5rem;
  width: 50%;
  background-color: aliceblue;
  border: none;
  height: 2rem;
  border-radius: .5rem;
  font-size: 1rem;
}

.addItemButton:hover{
  cursor: pointer;
  background-color: cornflowerblue;
}

